html {
    background-color: #024;
    color: #adf;
}

body {
    margin: 0;
}

header {
    display: grid;
    grid-template-columns: 1fr auto;
    justify-content: start;

    .logo {
        display: flex;
        align-items: center;

        img {
            width: 60px;
            margin: 0 1rem;
        }
    }

    #topmenu {
        height: 100%;

        ul {
            height: 100%;
            display: flex;
            list-style: none;
            margin: 0;

            li {
                height: 100%;
                display: flex;

                a {
                    font-size: large;
                    font-weight: bold;
                    height: 100%;
                    padding: 0 20px;
                    display: flex;
                    align-items: center;
                }

                &:hover {
                    background-color: #6af;

                    a {
                        color: #024;
                    }
                }
            }
        }
    }
}

#frmSearch {
    width: max-content;
    margin: 0 auto;
}

#cMain {
    margin: 1rem;
}

#cCards {
    display: grid;
    grid-template-columns: repeat(auto-fit, 320px);
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;

    .anime-card {
        background-color: #047;
        border: 1px solid #8cf;
        padding: 10px;

        .poster {
            width: 300px;
            height: 450px;
            object-fit: cover;
        }
    }
}

#cListSearch {
    display: grid;
    grid-template-columns: 4rem 1fr;
}

#cListSaved {
    display: grid;
    grid-template-columns: 4rem 5rem 1fr;
}

.anime-row {
    display: grid;
    grid-template-columns: subgrid;
    grid-column: 1 / -1;
}