:root {
    --clr-main0: #024;
    --clr-main1: #035;
    --clr-main2: #057;
    --clr-main3: #9ef;
}

html {
    background-color: var(--clr-main0);
    color: var(--clr-main3);
}

a {
    color: var(--clr-main3);
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

select {
    background-color: var(--clr-main2);
    color: var(--clr-main3);
}

input {
    background-color: var(--clr-main2);
    color: var(--clr-main3);
}

button {
    background-color: var(--clr-main3);
    color: var(--clr-main0);
    font-weight: bold;

    &:hover {
        cursor: pointer;
    }
}

h1 {
    font-family: "Style Script", serif;
    font-style: normal;
    position: absolute;
    margin: 0;
    line-height: 60px;
    vertical-align: middle;
}

body {
    margin: 0;
}

header {
    background-color: var(--clr-main1);
    padding-left: 20px;
    margin-bottom: 10px;
    height: 60px;
}

#topmenu {
    display: grid;
    justify-content: center;
    height: 100%;

    height: 100%;

    ul {
        display: flex;
        height: 100%;
        list-style: none;
        margin: 0;

        li {
            height: 100%;
            display: flex;

            a {
                font-size: large;
                font-weight: bold;
                height: 100%;
                padding: 0 20px;
                display: flex;
                align-items: center;
            }

            &:hover {
                background-color: var(--clr-main3);

                a {
                    color: var(--clr-main0);
                }
            }
        }
    }
}

#frmSearch {
    display: flex;
    justify-content: center;
    gap: 0.4rem;
}

#cMain {
    margin: 1rem;
}

#cCards {
    display: grid;
    grid-template-columns: repeat(auto-fit, 320px);
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;
}

.anime-card {
    background-color: var(--clr-main1);
    border: 1px solid var(--clr-main3);
    padding: 9px;

    .card-toprow {
        display: flex;
        justify-content: space-between;
    }

    .poster {
        width: 300px;
        height: 450px;
        object-fit: cover;
        margin-top: 10px;

        &:hover {
            outline: 3px solid var(--clr-main3);
        }
    }
}

.single-card {
    display: flex;
    gap: 1rem;
    background-color: var(--clr-main1);
    border: 1px solid var(--clr-main3);
    padding: 10px;
    width: auto;
    padding: 9px;
    margin: 0 auto;

    .single-left {
        display: grid;
        gap: 0.5rem;

        .single-left-toprow {
            display: grid;
            grid-template-columns: auto auto 1fr auto;
            gap: 0.5rem;

            :nth-child(3) {
                text-align: end;
            }
        }
    }

    .poster {
        width: 300px;
        height: 450px;
        object-fit: cover;
    }
}

#cListSearch {
    display: grid;
    grid-template-columns: 4rem 3rem 1fr;
    gap: 0.5rem 0.5rem;

    &>div:nth-child(even) {
        background-color: var(--clr-main1);
    }
}

#cListSaved {
    display: grid;
    grid-template-columns: 4rem 5rem 3rem 3rem 1fr;
    gap: 0.5rem 0.5rem;

    &>div:nth-child(even) {
        background-color: var(--clr-main1);
    }
}

.anime-row {
    display: grid;
    grid-template-columns: subgrid;
    grid-column: 1 / -1;
}

.title-row {
    display: grid;
    grid-template-columns: subgrid;
    grid-column: 1 / -1;
    font-weight: bold;
    border-bottom: 1px solid;
}

.card-genres {
    display: flex;
    flex-wrap: wrap;
    gap: 10px 12px;
    
    .card-genre {
        background-color: var(--clr-main3);
        color: var(--clr-main0);
        padding: 2px 10px;
        font-size: 0.9rem;
        font-weight: bold;
        border-radius: 1rem / 1rem;
  }
}